.messages-view {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 50%;
}

.messages-view>h2{
    text-align:center;
}

.single-message {
    margin-top: 0.2em;
    border: 1px solid black;
    border-radius: 5px;
    background: -moz-linear-gradient(314deg, #FFFAFA 22%, #FFFAFA 72%, #BFBFBF 97%, #BFBFBF 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fffafa), color-stop(100%, #bfbfbf));
}

.message-body {
    padding-left: 10px;
    padding-bottom: 10px;
}

.message-title {
    text-align: center;
}

.username {
    color: #7CB3E9;
    text-decoration: underline;
}