.personal-messages-view{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 50%;
}

.personal-single-message{
    margin-top: 0.2em;
    border: 1px solid black;
    border-radius: 5px;
}

.message-body{
    padding-left:10px;
    padding-bottom:10px;
}