.personal-messages-view{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 50%;
}

.personal-single-message{
    border: 1px solid black;
    border-radius: 5px;
    background: -moz-linear-gradient(314deg, #FFFAFA 22%, #FFFAFA 72%, #BFBFBF 97%, #BFBFBF 100%);
}

.message-body{
    padding-left:10px;
    padding-bottom:10px;
}

.message-body>button, .message-body>h4 {
    text-align: center;
}

